<!-- wp:template-part {"slug":"header","theme":"rusch-park","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group">
        <!-- wp:template-part {"slug":"post-date-terms"} /-->

    </div>
    <!-- /wp:group -->

    <!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->

    <!-- wp:post-title /-->

    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
        <p>By</p>
        <!-- /wp:paragraph -->

        <!-- wp:post-author-name {"isLink":true} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity" />
    <!-- /wp:separator -->

    <!-- wp:post-content /-->

    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity" />
    <!-- /wp:separator -->
</div>
<!-- /wp:group -->